.bottom{
    display: grid;
    grid-template-areas: 
    "redes txt logob";
    grid-template-columns: 50% 40% 10%; 
    grid-template-rows: 80px;
    background: linear-gradient(to bottom, transparent,rgb(126, 208, 235));
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(148, 146, 146);
}
.redes{grid-area: redes;}
.txt{grid-area: txt;}
.logob{grid-area: logob;}

.redes{
    display: flex;
    align-items: center;
    padding-left: 1em;
    h3{
    margin-left: 1rem;
    }
}
.txtb{
   display: flex;
   justify-content: flex-end;
   align-items: last baseline;
   margin-bottom: 1em;
}
.logob{
    display: flex;  
    align-items: center;
    justify-content: flex-end;
    margin-right: .5em;
}