*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 /* Estructura Areas Generales en Orden: Header , Footer y distintos Main de cada pagina */

.grid{
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    animation: changebg 10s infinite alternate linear;
}
header{grid-area: header;}
main{grid-area: main;}
footer{grid-area: footer;}

@keyframes changebg {
    0%{
        background-color: #fdf8f871;
    }
    25%{
        background-color: #bdc9dfd2;
    }
    50%{
        background-color: rgb(126, 208, 235);
    }
    75%{
        background-color: #9db2c450;
    }
    100%{
        background-color: #77828b91;
    }
}
.active {
    font-weight: bold;
    background-color: rgba(136, 178, 218, 0.342);
    border-radius: 22.4px;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: .5em;
}