//COLORES
        //paleta colores LAYOUT en %
        $cb50: #6290C3;
        $cb30: #EE9A85;
        $cb20: #C2E7DA;
        $cb10: #F1FFE7;
            //Colores basicos
        $cabl: #FFFFFF; 
        $cane: #080000;
        $cagr: #e8e8e8;